/* checkout-styles.css */

/* Form container */
#checkoutForm {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px; /* Adjust based on the button height */
}

/* Form field labels */
label {
    display: block;
    margin-bottom: 4px; /* Decreased spacing between labels */
    color: white; /* Set label color to white */
}

/* Form input fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="checkbox"] {
    width: calc(100% - 22px); /* Adjusted input width */
    padding: 10px;
    margin-bottom: 12px; /* Decreased spacing between input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000; /* Set input text color */
}

/* Placeholder text */
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder {
    color: #999; /* Set placeholder color */
}

/* Checkbox label */
label[for="disclaimer"] {
    display: inline;
    margin-bottom: 0;
}

/* Continue to Payment button */
#continueToPayment {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Adjust this to match your website's color scheme */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: sticky;
    bottom: 20px;
    margin: 0 auto;
    width: 80%;
}

/* Rolling shine animation */
@keyframes rollingShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#continueToPayment:enabled {
    background: linear-gradient(to right, #ffa647, #ff6527, #ff0027, #ff2765, #ff27ff, #6527ff, #0027ff, #2765ff, #27ffff);
    background-size: 200% 100%;
    animation: rollingShine 2s linear infinite;
}

#continueToPayment:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #checkoutForm {
        width: 90%;
    }

    #continueToPayment {
        width: 90%;
    }
}
