.flip-clock {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 2300px;
    height: 150px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    user-select: none;
    cursor: move;
}

.digit {
    position: relative;
    width: 230px; /* Divided width by number of digits to fit the container */
    height: 150px;
    margin: 0 5px;
    perspective: 1000px;
}

.card {
    width: 100%;
    height: 100%;
}

.top-half, .bottom-half {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.top-half {
    top: 0;
}

.bottom-half {
    bottom: 0;
    transform: rotateX(180deg);
}

.flip {
    animation: flip 0.5s forwards;
}

@keyframes flip {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(-180deg); }
}

#flip-clock:hover {
    background: rgba(0, 0, 0, 0.9); /* Less transparency on hover */
}
