/* Header adjustments for height and horizontal distribution */
.header {
    max-height: 11%;
    background-color: #f2f2f2; /* Pale creamy white */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  /* Ensuring logo and navigation fit within the header's height */
  .logo-container img, .navigation, .nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Footer adjustments for non-sticky placement */
  .site-footer {
    background-color: #f2f2f2; /* Pale creamy white */
    color: #800080; /* Keeping the purple text color */
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }
  
  /* Ensure the dropdown functionality works as expected */
  .nav-links li:hover .dropdown-content {
    display: block; /* Shows dropdown content on hover */
  }
  
  /* Additional styles to ensure dropdown is positioned correctly */
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Mobile view */
@media (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background-color: #f2f2f2;
        box-shadow: 0 0 25px rgba(0,0,0,0.1);
        transition: right 0.3s;
    }
    .menu-icon {
        display: block;
    }
    .nav-links, .login-button {
        display: flex;
        flex-direction: column;
    }
}
