.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    position: relative; /* Add this line */
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-secondary-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* Match the primary image height */
    object-fit: cover;
    transform: translateY(80%) rotateZ(-25deg);
    transition: transform 0.5s ease;
  }
  
  .card:hover .card-secondary-image {
    transform: translateY(20%) rotateZ(-25deg);
  }
  
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
  }
  
  /* This ensures that there are no more than 3 cards per row */
  @media (min-width: 900px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  