/* product-page-styles.css for Product Page */
body, html {
    margin: 0;
    /* overflow: hidden; Remove or comment out this line to allow scrolling */
    /* height: 100%; You might also want to remove or comment out this line */
}

body.parallax.product-body {
    font-family: Arial, sans-serif;
    /*overflow-x: hidden;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: white;
}

.product-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.product-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.buy-now {
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.buy-now:hover {
    background-color: #228B22;
}

#categoryTabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

#categoryTabs button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

#categoryTabs button:hover {
    background-color: #0056b3;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3%;
}

.product-card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1%;
    width: calc(33.333% - 6%);
    background: #ffffff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.product-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card .product-details {
    padding: 15px;
    text-align: left;
    flex-grow: 1;
}

.product-card .buy-now-btn {
    background-color: #32CD32;
    border-radius: 0 0 10px 10px;
    padding: 10px 20px;
    font-weight: bold;
    width: calc(100% - 30px); /* Adjust width considering padding */
    margin: 15px; /* Margin for aesthetic spacing */
    transition: background-color 0.3s;
}

.product-card .buy-now-btn:hover {
    background-color: #228B22;
}

.product-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 6%);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(100% - 6%);
    }

    .product-container, .product-details h2, .product-details p, .buy-now {
        font-size: smaller;
    }
}
