/* product-page-styles.css for Product Page */
body.parallax.product-body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.product-details {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.buy-now {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.buy-now:hover {
    background-color: #0056b3;
}

#categoryTabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: #f0f0f0; /* Adjusted to match pale creamy white theme */
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Softer shadow for a subtle effect */
    margin-bottom: 20px; /* Added space between categories and product details */
}

#categoryTabs button {
    background-color: #007bff; /* Bright blue to stand out */
    color: white; /* White text for contrast */
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer to indicate clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#categoryTabs button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}



.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: calc(33% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    background-color: #fff5e6;
    border: 1px solid goldenrod;
    overflow: hidden;
  }
  
  .product-image {
    width: 20%;
    background: #f8f9fa;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-details h3, .product-details p, .product-details ul {
    margin: 5px 0;
  }
  
  button {
    background-color: goldenrod;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  


@media (max-width: 768px) {
    .product-card {
        flex-basis: 100%; /* 1 item per row in mobile view */
    }
}


@media (max-width: 768px) {
    .product-container, .product-details h2, .product-details p, .buy-now {
        font-size: smaller;
    }
}
