/* index-page-styles.css for Index Page */
body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}
#starfield {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

body.parallax.index-body {
    font-family: Arial, sans-serif;
    background-image: url('resources/bgs/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.greeting {
    text-align: center;
    padding: 100px 20px;
}

.greeting h1, .greeting p {
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sticky-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.sticky-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .greeting {
        padding: 50px 20px;
    }
}
/* Media query for even smaller screens (e.g., mobile devices) */
@media (max-width: 480px) {
    body.parallax.index-body {
        background-image: url('resources/bgs/bgmob.jpg');
    }

    .greeting {
        padding: 30px 20px;
    }

    .button-container {
        flex-direction: column;
    }

    .sticky-btn {
        margin-top: 10px;
    }
}